<p>
  <% news = News.find :all, :limit=>2, :order=>'date desc' %>
  <% news.each do |item| %>
    <b><%= item.title %></b><br/>
    <%= item.date.strftime("%Y-%m-%d %H:%M:%S") %><br/><br/>
    <%= item.article %><br/><br/>
  <% end %>
</p>
