<h1>Contact</h1>
<p>
  You may contact us at 
  <a href="http://www.sidewayslogic.com">Tagsmoon's List</a>. Please note that  
  turnaround time is normally between 24 to 48 hours (except on holidays).
</p>