<h1>Tagsmoon's List</h1>
<p>
    <a href="http://sidewayslogic.com/">Tagsmoon's List</a>
    provides a platform for users to advertise and sail merchandises
	online. 
	<br/>
	<%= render 'shared/category' %>
	
</p>